{% extends "base.html" %}
{% block content %}
<h2 class="title">新しいパスワードを設定</h2>
{% include "templates/includes/message.html" %}
<h4>パスワードは以下のルールで変更してください</h4>
<ul>
    <li>8文字以上で作成してください</li>
    <li>一般的すぎる単語などは使用しないでね</li>
    <li>数字のみは利用できません</li>
</ul>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
    </div>
    <div class="mb-3">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
    </div>
    <div class="button">
        <button class="custom-button" type="submit">パスワードを更新</button>
    </div>
</form>
{% endblock %}