<!-- templates/accounts/change_password.html -->
{% extends "base.html" %}

{% block content %}
<h2 class="title">パスワード変更</h2>
{% include "templates/includes/message.html" %}
<div class="mb-3">
    パスワードは以下のルールで変更してください<br>
    8文字以上で作成してください<br>
    一般的すぎる単語などは使用しないでください<br>
    数字のみで作成はできません
</div>
<form method="POST">
    {% csrf_token %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    <div class="mb-3">
        {{ form.old_password.label_tag }}
        {{ form.old_password }}
    </div>
    <div class="mb-3">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
    </div>
    <div class="mb-3">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
    </div>
    <div class="button mb-3">
        <button class="custom-button" type="submit">更新</button>
    </div>
</form>
<p><a href="{% url 'detail' %}">ユーザー情報へ戻る</a></p>
<p><a href="{% url 'user_home' %}">ホームへ戻る</a></p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
{% endblock %}