<!-- templates/accounts/login.html -->

{% extends "base.html" %}
{% block title %}LOGIN{% endblock %}

{% block content %}
{% include "templates/includes/back_button.html" %}
<h1 class="title">Let's Get Started!</h1>
<h4>ことばポケットへようこそ<br>こちらよりログインをお願いします</h4>
{% include "templates/includes/message.html" %}
<form method='POST'>
    {% csrf_token %}
    <div class="mb-3">
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>
    <div class="mb-3">
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>
    <div class="button">
        <button class="custom-button mb-3" type='submit'>ログイン</button>
    </div>
</form>
<p>まだユーザー登録をお済みでない方は<a href="{% url 'register' %}">こちら</a></p>
<p><a href="{% url 'password_reset' %}">パスワードをお忘れですか？</a></p>
<p><a href="{% url 'home' %}">トップページへ戻る</a></p>
{% endblock %}