<!-- templates/accounts/user_detail.html -->

{% extends "base.html" %}
{% block title %}detail{% endblock title %}
{% block content %}
{% include "templates/includes/back_button.html" %}
<h1 class="title">ユーザー情報</h1>
{% include "includes/message.html" %}
<h4>
    {{ request.user.username }}さんのユーザー情報です<br>
    変更は下のリンクからお願いします
</h4>
<div class="description">
    <h5>ユーザー名：{{ request.user.username }}</h5>
    <h5>メールアドレス：{{ request.user.email }}</h5>
</div>
{% for level in levels %}
<h3>{{ level.name }}</h3>
<table class="table custom-pink-table">
    <thead>
        <tr>
            <th scope="col">モード</th>
            <th scope="col">総数</th>
            <th scope="col">回答数</th>
            <th scope="col">正解数</th>
        </tr>
    </thead>
    <tbody>
        {% for mode in level.modes %}
        <tr>
            <td>{{ mode.mode_display }}</td>
            <td>{{ level.total_count }}</td>
            <td>{{ mode.count }}</td>
            <td>{{ mode.correct }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
<p><a href="{% url 'password_change' %}">パスワード変更はこちら</a></p>
<p><a href="{% url 'user_home' %}">ホームへ戻る</a></p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
{% endblock %}