<!-- templates/accounts/user_detail.html -->

{% extends "base.html" %}

{% block title %}detail{% endblock title %}

{% block content %}
<button class="back-button" type="button" onclick="history.back()">戻る</button>
<h1 class="title">ユーザー情報</h1>
{% include "includes/message.html" %}
<h4>
    {{ request.user.username }}さんのユーザー情報です<br>
    変更は下のリンクからお願いします
</h4>
<div class="description">
    <h5>ユーザー名：{{ request.user.username }}</h5>
    <h5>メールアドレス：{{ request.user.email }}</h5>
</div>
<h3>Beginnerクラス</h3>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">モード</th>
            <th scope="col">総数</th>
            <th scope="col">回答数</th>
            <th scope="col">正解数</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>英　訳</td>
            <td>{{ total_counts.1 }}</td>
            <td>{{ results.1.en.count }}</td>
            <td>{{ results.1.en.correct }}</td>
        </tr>
        <tr>
            <td>和　訳</td>
            <td>{{ total_counts.1 }}</td>
            <td>{{ results.1.ja.count }}</td>
            <td>{{ results.1.ja.correct }}</td>
        </tr>
    </tbody>
</table>
<h3>Intermediateクラス</h3>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">モード</th>
            <th scope="col">総数</th>
            <th scope="col">回答数</th>
            <th scope="col">正解数</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>英　訳</td>
            <td>{{ total_counts.2 }}</td>
            <td>{{ results.2.en.count }}</td>
            <td>{{ results.2.en.correct }}</td>
        </tr>
        <tr>
            <td>和　訳</td>
            <td>{{ total_counts.2 }}</td>
            <td>{{ results.2.ja.count }}</td>
            <td>{{ results.2.ja.correct }}</td>
        </tr>
    </tbody>
</table>
<h3>Advancedクラス</h3>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">モード</th>
            <th scope="col">総数</th>
            <th scope="col">回答数</th>
            <th scope="col">正解数</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>英　訳</td>
            <td>{{ total_counts.3 }}</td>
            <td>{{ results.3.en.count }}</td>
            <td>{{ results.3.en.correct }}</td>
        </tr>
        <tr>
            <td>和　訳</td>
            <td>{{ total_counts.3 }}</td>
            <td>{{ results.3.ja.count }}</td>
            <td>{{ results.3.ja.correct }}</td>
        </tr>
    </tbody>
</table>
<h3>Expertクラス</h3>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">モード</th>
            <th scope="col">総数</th>
            <th scope="col">回答数</th>
            <th scope="col">正解数</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>英　訳</td>
            <td>{{ total_counts.4 }}</td>
            <td>{{ results.4.en.count }}</td>
            <td>{{ results.4.en.correct }}</td>
        </tr>
        <tr>
            <td>和　訳</td>
            <td>{{ total_counts.4 }}</td>
            <td>{{ results.4.ja.count }}</td>
            <td>{{ results.4.ja.correct }}</td>
        </tr>
    </tbody>
</table>
<p><a href="{% url 'edit' %}">ユーザー情報変更はこちら</a></p>
<p><a href="{% url 'password_change' %}">パスワード変更はこちら</a></p>
<p><a href="{% url 'user_home' %}">ホームへ戻る</a></p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
{% endblock %}