body {
    background-color: white;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}
