<!DOCTYPE html>
<html>
{% include "includes/head.html" %}
<body>
<main class="container">
    <div class="header">
        <span class="icon">📘</span> <!-- ポケットや本をイメージしたアイコン -->
        <h1>ことばポケット</h1>
    </div>
{% load static %}
<audio id="bg-music">
    <source src="{% static 'audio/ukiukilalala.mp3' %}" type="audio/mpeg">
</audio>
<div class="text-end">
    <button id="music-button" onclick="toggleMusic()"><span id="music-icon">🎵</span>音楽を再生</button>
</div>
{% block content %}
{% endblock %}
</main>
{% include "includes/script.html" %}
</body>
</html>