<!-- templates/flashcard/quiz.html -->

{% extends "base.html" %}
{% block title %}Quiz{% endblock %}
{% block content %}
<h2 class="title">Flashcard Mode</h2>
{% include "templates/includes/message.html" %}
<h4>{{ user_progress.level.name }}クラス</h4>
<h4>{% if user_progress.mode == 'en' %}英訳モード{% else %}和訳モード{% endif %}(全{{ user_progress.total_questions }}問)</h4>
<h5>第{{ user_progress.current_question_index | add:1 }}問</h5>

{% if user_progress.mode == 'en' %}
{% comment %} 英訳モード {% endcomment %}
    <h5>次の日本語を英訳してください</h5>
    <h5>日本語：{{ current_question.japanese }}</h5>
    <form method="POST" action="{% url 'check_answer' user_progress.id %}">
        {% csrf_token %}
        <p><input type="text" name="answer" id='answer' placeholder='回答を入力' class="form-control"></p>
        <div class="button mb-3">
            <button class="custom-button" type="submit">回答する</button>
        </div>
    </form>
{% else %}
{% comment %} 和訳モード {% endcomment %}
    <h5>次の英語を和訳してください</h5>
    <h5>英語：{{ current_question }}({{ current_question.part_of_speech}})</h5>
    <form method="POST" action="{% url 'check_answer' user_progress.id %}">
        {% csrf_token %}
        <p><input type="text" name="answer" id='answer' placeholder='回答を入力' class="form-control"></p>
        <div class="button mb-3">
            <button class="custom-button" type="submit">回答する</button>
        </div>
    </form>
{% endif %}

<p><a href="{% url 'detail' %}">ユーザー情報はこちら</a></p>
<p><a href="{% url 'user_home' %}">ホームへ戻る</a></p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
{% endblock %}