<!-- templates/flashcard/select_level.html -->

{% extends "base.html" %}
{% block title %}SelectLevel{% endblock %}
{% block content %}
{% include "templates/includes/back_button.html" %}
<h2 class="title">Flashcard Mode</h2>
<h5>{{ request.user.username }}さんこんにちは！<br>難易度を選択してください</h5>
<form method="POST">
    {% csrf_token %}
    <div>
        {% for level in levels %}
            <p><button class="custom-button" type="submit" name="level" value="{{ level.id }}">{{ level.name }}({{ level.description }})</button></p>
        {% endfor %}
    </div>
</form>
<p><a href="{% url 'detail' %}">ユーザー情報はこちら</a></p>
<p><a href="{% url 'user_home' %}">ホームへ戻る</a></p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
{% endblock %}