<!-- templates/flashcard/select_mode.html -->

{% extends "base.html" %}
{% block title %}SelectMode{% endblock %}
{% block content %}
<button class="back-button mt-3" type="button" onclick="history.back()">戻る</button>
<h2 class="title">Flashcard Mode</h2>
<h4>{{ level.name }}クラス<br>モードを選択してください</h4>
<form method="POST">
    {% csrf_token %}
    <div>
        <p><button class="custom-button" type="submit" name="mode" value="en">英　訳</button></p>
        <p><button class="custom-button" type="submit" name="mode" value="ja">和　訳</button></p>
    </div>
</form>
<p><a href="{% url 'detail' %}">ユーザー情報はこちら</a></p>
<p><a href="{% url 'user_home' %}">ホームへ戻る</a></p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
{% endblock %}