<!-- templates/flashcard/show_paused_data.html -->

{% extends "base.html" %}
{% block title %}SELECT CONTINUE{% endblock %}
{% block content %}
{% include "templates/includes/back_button.html" %}
<h2 class="title">セーブデータ</h2>
{% include "templates/includes/message.html" %}
{% if user_progress_data %}
{% for user_progress in user_progress_data %}
<form method="POST" action="{% url 'paused_data_detail' user_progress.id %}" class="progress-box">
    {% csrf_token %}
    <button type="submit" class="progress-box-button">
        <div class="progress-box-header">
            難易度：{{ user_progress.level.name }}　　モード：{% if user_progress.mode == 'en' %}英訳{% else %}和訳{% endif %}
        </div>
        <div class="progress-bar-wrapper">
            <div class="progress-bar-container">
                <div class="progress-bar" data-current="{{ user_progress.current_question_index }}" data-total="{{ user_progress.total_questions }}"></div>
            </div>
            <span class="progress-label">
                達成率：{{ user_progress.current_question_index }} / {{ user_progress.total_questions }}
            </span>
        </div>
    </button>
</form>
{% endfor %}
<script>
    // すべての進捗バーを取得して処理
    document.querySelectorAll('.progress-bar').forEach(bar => {
        const current = parseInt(bar.getAttribute('data-current'));
        const total = parseInt(bar.getAttribute('data-total'));
        const percentage = (current / total) * 100;
        bar.style.width = `${percentage}%`;
    });
</script>
{% else %}
    <p>中断データはありません。</p>
{% endif %}
<p><a href="{% url 'detail' %}">ユーザー情報はこちら</a></p>
<p><a href="{% url 'user_home' %}">ホームへ戻る</a></p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
{% endblock %}