<!-- templates/flashcard/show_paused_data.html -->

{% extends "base.html" %}
{% block title %}SELECT CONTINUE{% endblock %}
{% block content %}
<button class="back-button mt-3" type="button" onclick="history.back()">戻る</button>
<h2 class="title">セーブデータ</h2>
{% include "templates/includes/message.html" %}
{% if user_progress_data %}
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">レベル</th>
            <th scope="col">モード</th>
            <th scope="col">出題数</th>
            <th scope="col">回答数</th>
            <th scope="col">正解数</th>
            <th scope="col">正答率</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for user_progress in user_progress_data %}
        <tr>
            <td>{{ user_progress.level.name }}</td>
            <td>{% if user_progress.mode == 'en' %}英訳{% else %}和訳{% endif %}</td>
            <td>{{ user_progress.total_questions }}</td>
            <td>{{ user_progress.current_question_index }}</td>
            <td>{{ user_progress.score }}</td>
            <td>{{ user_progress.score }} / {{ user_progress.current_question_index }}</td>
            <td>
                <form method="POST" action="{% url 'quiz_restart' user_progress.id %}">
                    {% csrf_token %}
                    <button class="small-button" type="submit">再開</button>
                </form>
            </td>
            <td>
                <form method="POST" action="{% url 'reset_user_progress' user_progress.id %}">
                    {% csrf_token %}
                    <button class="small-button" type="submit">削除</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>中断データはありません。</p>
{% endif %}
<p><a href="{% url 'detail' %}">ユーザー情報はこちら</a></p>
<p><a href="{% url 'user_home' %}">ホームへ戻る</a></p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
{% endblock %}